body {
    margin: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#logo_container img {
    padding: 5px;
    display: inline;
    text-decoration: none;
    text-align:left;
}
#logo_container {
}
#logo_container h2 {
    float:right;
    padding: 10px 10px;
    font-family: Geneva, Tahoma, sans-serif;
    color: black;
}
#nav {
    clear: both;
    margin: 0px;
    height: 40px;
    background-color:#222222;
    padding: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#left_menu {
    float: left;
}
#left_menu ul {
    height: 40px;
    list-style-type: none;
    background-color:#222222;
    margin: 0;
    padding: 0;
}
#left_menu ul li {
    float: left;
    color: white;
    list-style-type: none;
}
#center_menu {

}
#center_menu ul {
    display: inline-block;
    float: left;
    padding: 10px 16px;
    margin: 0 auto;
    height: 20px;
    color: white;
    list-style-type: none;
}
#right_menu {
}
#right_menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 40px;
}
#right_menu ul li {
    float: right;
}
.link {
    display: block;
    color: white;
    text-align: center;
    height: 20px;
    padding: 10px 16px;
    text-decoration: none;
}
.active {
    background-color: #0066CC;
    color: white;
}
.link:hover:not(.active) {
    background-color: #808080;
    color: white;
}
#global {
    position: fixed;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom right, #99CCFF, white);
    border-radius: 5px;
    <!--float: right;-->
    margin: 10px;
    padding: 5px;
    vertical-align: central;
    display: none;
    z-index:99;
}
#status_table {
    font-family:Arial,Verdana, Geneva, Tahoma, sans-serif;
}
.status {
    width: 16px;
    height: 16px;
    border-radius: 25%;
    background-color: #00ff00;
    border: 1px solid gray;
    display: inline-block;
}
#global table tr td {
    height: 20px;
}
#home {
    position: absolute;
    padding: 10px;
    font-family:Arial,Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    clear: none;
}
#login {
    border-radius: 5px;
    border: 2px solid gray;
    position: fixed;
    width: 25%;
    top: 150px;
    left: 50%;
    margin-left: -25%;
    align-content: center;
    font-family: Arial,Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: none;
    align-content: center;
    clear: none;
    z-index:99;
}
#username-clear {
    display: none;
}
#password-clear {
    display: none;
}
#login > div {
    width: 95%;
    display: table;
    padding: 10px;
    text-align: justify;
}
#custom_url_box {
    display: none;
    margin: 1px;
}
#wifi {
    border-radius: 5px;
    border: 2px solid gray;
    position: fixed;
    width: 25%;
    top: 150px;
    left: 50%;
    margin-left: -25%;
    align-content: center;
    font-family: Arial,Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: none;
    align-content: center;
    clear: none;
    z-index:99;
}
#wifi > div {
    width: 95%;
    display: table;
    padding: 10px;
    text-align: justify;
}
#monitor {
    width: 100%;
    background-color: black;
    display: none;
}
#mon_list {
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
    width: 20%;
    text-align:center;
    background-color: #1B75BB;
    position: fixed;
    height: 100%;
    overflow: auto;
}
#cmd_list {
    list-style-type: none;
    color: black;
    margin: 0;
    text-align:center;
    padding: 0;
    left:20%;
    width: 20%;
    position: fixed;
    background-color: #ADDDE3;
    height: 100%;
    overflow: auto;
}
.node {
    display: block;
    color: black;
    text-align: left;
    height: 20px;
    padding: 10px 16px;
    text-decoration: none;
}
.node_en {
    background-color: #0066CC;
    color: white;
}
.node:hover:not(.node_en) {
    background-color: #808080;
    color: white;
}
.cmd {
    display: block;
    color: black;
    text-align: left;
    height: 20px;
    padding: 10px 16px;
    text-decoration: none;
}
.cmd_en {
    background-color: #0066CC;
    color: white;
}
.cmd:hover:not(.cmd_en) {
    background-color: #808080;
    color: white;
}
#cmd_log {
    margin: 0;
    padding: 5px;
    left:40%;
    width: 60%;
    position: fixed;
    height: 100%;
    overflow: auto;
}
#statistics{
    display:none;
}
#loading {
    display: block;
}
